<footer>
    <section class="social-media-wrapper">
        <h6>Follow Me On The Medias:</h6>
        <a href="https://github.com/StephenBrooks714" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://m.facebook.com/profile.php/?id=100001420560415&name=xhp_nt__fb__action__open_user" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/stephen-brooks-067075235?trk=contact-info" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </section>
    <p>Copyright &copy; 2024. All Rights Reserved.</p>
</footer>

<script type="text/javascript" src="/scripts/main.js"></script>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>