<head>
    <meta charset="UTF-8">
    <title>Stephen Brooks - Portfolio</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/8791fcf073.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/side-nav.css">
</head>