<nav>
    <div class="dropdown-menu">
        <a type="button" class="dropbtn"><i class="fas fa-bars"></i></a>
        <div class="show">
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="#contact">Contact</a>
                <a href="/projects">Projects</a>
                <a href="/services">Services</a>
            </div>
        </div>
    </div>
</nav>