<section class="flex-row mb-7">
    <div class="col-lg-6 mb-4">
        <h2 class="display-4">
            About me
        </h2>
        <p class="lead mb-3">
            Served in the Military for 20 years, I have been working with computers since I was 24. My passion for technology started when I was 19, when I first saw computers.
            I have built over 800 projects and, I am always looking for new challenges. Lately, I have been helping non-profit organizations and small businesses as a web developer & designer.
        </p>
        <a href="mailto:stephenbrooks714@gmail.com" class="btn btn-primary">Contact Me Directly</a>
    </div>
    <div class="col-lg-6 mb-4">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/web-development-programming-4315061-3610795.png"
             class="img-fluid"
             alt="Web Developer">
    </div>
</section>