<section class="contact-row flex-row-reverse" id="contact">
    <div class="col-5 mb-4">
        <a title="Customer reviews of webexpress.pro" target="_blank" href="https://www.webwiki.com/webexpress.pro"><img src="https://www.webwiki.com/etc/rating/widget/1407130282/webexpress-pro-rating-round-220.png" style="height: 110px; width: 160px;" alt="Reviews of webexpress.pro" /></a>
        <h5>Contact Me To Get Started</h5>
        <p>
            Getting started with me is easy and I work quickly and efficiently. With my web apps, you can get the management that you would expect
            from a platform and the experience that you would expect from a professional.
        </p>
        <hr>
        <address class="lead">
            Working Remotely, Oklahoma City, Oklahoma
        </address>
        <phone class="lead">580-309-0236</phone>
    </div>
    <div class="col-7 mb-4">
        <form action="/send/form" method="post" enctype="multipart/form-data">
            <label for="name" class="form-label">Name: <input type="text" required class="form-control" name="name" id="name"></label>
            <label for="email" class="form-label">Email: <input type="email" required class="form-control" name="from" id="email"></label>
            <label for="text" class="form-label">Your Message: <textarea name="text" required id="text" class="form-control" rows="7"></textarea></label>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</section>