<section class="row mb-7 text-center">
    <div class="col-lg-3 fade mb-4" id="delay-1">
        <a href="" class="hover-zoom">
            <div class="card">
                <div class="card-img">
                    <img src="/assets/jira-logo.png" style="height: 30px; width:30px;" alt="jira">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Management</h5>
                    <p class="card-text">
                        Managing the project with Jira, a platform that helps with work flow and team production.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 fade mb-4" id="delay-2">
        <a href="" class="hover-zoom">
            <div class="card">
                <div class="card-img">
                    <img src="/assets/figma-logo.png" style="height: 30px; width:30px;" alt="jira">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Designing</h5>
                    <p class="card-text">
                        Designing with a wire frame to get a start on the design before building any pages.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 fade mb-4" id="delay-3">
        <a href="" class="hover-zoom">
            <div class="card">
                <div class="card-img">
                    <img src="/assets/javascript-logo.png" style="height: 30px; width:30px;" alt="jira">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Development</h5>
                    <p class="card-text">
                        Building with code that creates responsive pages and dynamic content that fits all devices.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 fade mb-4" id="delay-4">
        <a href="" class="hover-zoom">
            <div class="card">
                <div class="card-img">
                    <img src="/assets/Cloud-Database.png" style="height: 30px; width:50px;" alt="jira">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hosting</h5>
                    <p class="card-text">
                        Bring your web domain address or get a new one with me, I make the transition smooth.
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>