<section class="text-center mb-9">
    <p class="intro-text fadeInLeft">Hi, I'm Stephen Brooks, and I'm a</p>
    <h1 class="display-1 fadeInRight">JavaScript Developer</h1>
    <hr class="line mb-2">
    <p class="text-muted">
        <span class="fw-bold">Front-End Technology:</span> Html | Css | JavaScript | React | Vue | Angular | Bootstrap | Tailwind | Sass
        <br>
        <span class="fw-bold">Back-End Technology:</span> Express.js | Node.js | MongoDB | MySQL | REST | GraphQL | RESTful API
    </p>
</section>