<section class="flex-row mb-7">
    <div class="col-lg-6 mb-4">
        <h2 class="mb-4 h1">Building the Web</h2>
        <ul class="unstyled">
            <li class="mb-2">
                <button class="btn btn-primary" onclick="changeImage()">Cycle Examples</button>
                <p>
                    Created with custom coded html, css, javascript, Scss, & JQuery.
                </p>
            </li>
            <li class="mb-2">
                <a href="https://nodejs.org/en" target="_blank">Using Node.js</a>
                <p>
                    Backend using Node, Express, and other JavaScript node packages.
                </p>
            </li>
            <li class="mb-2">
                <a href="https://www.mongodb.com/products/platform/atlas-database" target="_blank">Connect to MongoDB</a>
                <p>
                    Connecting to Mongoose Atlas for holding records as you manage them.
                </p>
            </li>
        </ul>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card" id="projectResult">
            <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 class="img-fluid rounded" id='myImg' alt="design">
        </div>
    </div>
</section>