<!doctype html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>

<main class="container my-5 py-5">
    <h1 class="display-4 text-center mb-2">Projects that I have worked on.</h1>
    <p class="lead text-center mb-7">
        Projects created with Html, Css, JavaScript, Scss, jQuery, Node, Express, and connected to MongoDB.
    </p>
    <section class="row text-center mb-5 justify-content-center align-items-center">
        <div class="col-lg-3 mb-4">
            <a href="https://young-men-of-distinction-4f0bc97b0c3f.herokuapp.com/" target="_blank">
                <div class="card">
                    <img src="./assets/ymod.png" class="img-fluid rounded" alt="Project 1">
                </div>
            </a>
        </div>
        <div class="col-lg-3 mb-4">
            <a href="https://ambafarmersvoice-f65a13837578.herokuapp.com/" target="_blank">
                <div class="card">
                    <img src="./assets/afv.png" class="img-fluid rounded" alt="Project 1">
                </div>
            </a>
        </div>
        <div class="col-lg-3 mb-4">
            <a href="https://cosmicvibes-eb9165021f68.herokuapp.com/" target="_blank">
                <div class="card">
                    <img src="./assets/cosmicvibes.png" class="img-fluid rounded" alt="Project 1">
                </div>
            </a>
        </div>
        <div class="col-lg-3 mb-4">
            <a href="https://dramacidepaws.com/" target="_blank">
                <div class="card">
                    <img src="./assets/dramacide.png" class="img-fluid rounded" alt="Project 1">
                </div>
            </a>
        </div>
<!--        -->

    </section>
</main>

<%- include('layouts/footer') -%>
</body>
</html>